<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
  
</head>

<body>
 <div class="login">
	<h1>STOCK PRICE PREDICTION USING MACRO HEADLINES </h1>
	 <p>Machine learning model used to predict next day 
    stock price based on<br>twitter sentiment analysis</p>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	Since_Date: 
	<input type="date" name="since_date" placeholder="Date_0" required="required" />
	Until_Date:
	<input type="date" name="until_date" placeholder="Date_1" required="required" />
	Hashtag:
	<input type="text" name="StockName" placeholder="StockName" required="required" />
	<br>
	


        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>

	 <p></p>
   {{ prediction_text }}
	 <p></p>
   {{script|safe}}  
   {{div|safe}}  
	 <p></p>
<!--    {{plot1}} -->
	 
<img src="{{ plot1 }}"/>
	 <p></p>
	 {{RE}}

 </div>
<!-- 	<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://yhoo.it/3FI60Gz"></iframe> -->
 
<!-- 	<img src='/apple_stock.png'/> -->

</body>
<!-- <style>
  body {
    background-image: url('https://mediacloud.kiplinger.com/image/private/s--KvtEp0dc--/f_auto,t_primary-image-desktop@2/v1620416234/Investing/stock-market-today-050721.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    fill-opacity: 0.5; 
  }
  </style>  -->
</html>
